{% extends "base.html" %}
{% block title %}Информация о буйках{% endblock title %}
{% block header %}Информация о буйках{% endblock header %}
{% block content %}

    {% if count != 0 %}
        <p>Всего буйков: {{ count }} </p>
        <table cellspacing="5px" border="0">

        {% for d in drifters %}

            {% if forloop.counter0|get_digit:"1" == 0 %}
                <tr>
            {% endif %}
            <td><a  href="/drifter_info/?id={{ d.id }}"> {{ d.drifter_num }} </a> </td>

        {% endfor %}
        </table>
        <br>



    {% endif %}




{% endblock content %}